Hello!
Wellcome to Blare's Discord server!
here you can talk, meme and do other things.
there are a few chats open to join. as well as an NSFW chat
feel free to join anytime!
hopefully you will enjoy the time you spend here!

but remember, there are allways rules!
1. be respectfull
2. people will be people, but that is no reason to be incredibly angry at eachother
3. NSFW material goes into the NSFW chats. some people do not want to see
your steamy boner picks while they are next to their familly.
4.send memes
5.send nudes
6.if you are angry, do not take out anger on others. please leave
and take a quick breather to calm down!
7. people are here for you :3!
